* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
}

h1 {
 font-size: 40px;
  margin-bottom: 10px;
}

.add-task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.input-task {
  width: 200px;
  height: 22px;
}

.add-task button {
  height: 26px;
  background: #686868;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: flex;
  min-width: 280px;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 2px gray solid;
}

.task input {
  min-width: 20px;
  min-height: 20px;
}

.task .text-task {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  padding-left: 10px;
}

.task .done-text {
  opacity: 0.3;
  text-decoration: line-through;
}

.delete-button {
  background: white url("trash-can-outline.svg") center no-repeat;
  background-size: cover;
  min-width: 30px;
  min-height: 30px;
  border: none;
  cursor: pointer;
  border-right: 1px gray solid;
}

.edit-button {
  background: white url("pencil-outline.svg") center no-repeat;
  background-size: cover;
  min-width: 30px;
  min-height: 30px;
  flex-grow: 1;
  border: none;
  cursor: pointer;
}
